<div id="heading">
  <h2>Get Tenants Quickly. <span>Save Thousands</span> on Brokerage.</h2>
  <p>For assistance call us at 92430-09980</p>
</div>
<div id="blocks">
  <div>
    <div>
    <div class="block-heading">
      <div>
        <div class="main">Relax Plan</div>
        <div class="sub"></div>
      </div>
      <div>
        <div class="main">&#8377;2,999</div>
        <div class="sub">+18% GST</div>
      </div>
    </div>
    <div class="block-main">
      
      <p>Lots of tenant choices. Super-fast clousure.
        <br>
        Zero unwanted calls.
      </p>
      
      <div class="lists">
        <div>
          <div ></div>
          <div>Personal Assistant</div>
        </div>
        <div>
          <div></div>
          <div>Privacy of your phone number</div>
        </div>
        <div>
          <div></div>
          <div>Property promotion</div>
        </div>
        <div>
          <div></div>
          <div>Rental Agreement- Home delivered</div>
        </div>
        <div>
          <div></div>
          <div>Facebook Marketting of Property</div>
        </div>
      </div>
      </div>
      
    </div>
    <div>
        <button class="but">Buy Now</button></div>
  </div>
  <div>
    <div>
    <div class="block-heading">
      <div>
        <div class="main">Super Relax Plan</div>
        <div class="sub">*Banglore only</div>
      </div>
      <div>
        <div class="main">&#8377;5,4999</div>
        <div class="sub">+18% GST</div>
      </div>
    </div>
    <div class="block-main">
    
      <p>Leave your house keys amd worries on us. Get tenant super-fast</p>
      <div class="lists">
      <div>
        <div></div>
        <div>Showing house on your behalf</div>
      </div>
      <div>
        <div></div>
        <div>Personal field assistant</div>
      </div>
      <div>
        <div></div>
        <div>Photoshoot of your property</div>
      </div>
      <div>
        <div></div>
        <div>Privacy of your phone number</div>
      </div>
      <div>
        <div></div>
        <div>Property promotion</div>
      </div>
      <div>
        <div></div>
        <div>Rental Agreement-Home delivered</div>
      </div>
      <div>
        <div></div>
        <div>Facebook Marketting of Property</div>
      </div>
      </div>
      </div>
      
    </div>
    <div>
        <button class="but">Buy Now</button>
        </div>
  </div>
</div>
<div id="footer">
  <div>Plan Validity: All Plans are valid for 45 days.</div>
  <div>Terms & Conditions apply</div>
</div>